<?xml version="1.0"?>
<robot name="ur10_with_delto" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Arguments for UR10 -->
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur10_joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur10_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/ur10_physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/ur10_visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>

  <!-- UR10-specific ros2_control args -->
  <xacro:arg name="script_filename" default="$(find ur_robot_driver)/resources/ros_control.urscript"/>
  <xacro:arg name="output_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
  <xacro:arg name="input_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
  <xacro:arg name="robot_ip" default="192.168.1.10"/>

  <!-- Delto gripper args -->
  <xacro:arg name="delto_ip" default="192.168.1.20"/>
  <xacro:arg name="delto_port" default="502"/>
  <xacro:arg name="p_gain" default="10.0"/>
  <xacro:arg name="d_gain" default="1.0"/>

  <!-- include the stock UR10 macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>
  <xacro:ur_robot
    prefix=""
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    initial_positions="${load_yaml(initial_positions_file)}"
    script_filename="$(arg script_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    robot_ip="$(arg robot_ip)"
    tf_prefix=""
    hash_kinematics="${kinematics_hash}"
  />

  <!-- include your gripper macro -->
  <xacro:include filename="$(find delto_3f_driver)/urdf/delto_3f_driver.xacro"/>

  <!-- instantiate the gripper on the UR10 wrist_3_link -->
  <xacro:delto_3f
    prefix="delto_"
    parent_link="wrist_3_link"
    xyz="0 0 0.1"
    rpy="0 0 0" />

  <!-- UR10 ros2_control block -->
  <xacro:include filename="$(find ur_description)/urdf/ur.ros2_control.xacro" />
  <xacro:ur_ros2_control
    name="URPositionHardwareInterface" prefix=""
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    initial_positions="${load_yaml(initial_positions_file)}"
    script_filename="$(arg script_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    tf_prefix=""
    hash_kinematics="${kinematics_hash}"
    robot_ip="$(arg robot_ip)" />

  <!-- Delto gripper ros2_control block is expanded by <xacro:delto_3f> -->

</robot>

